{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $width := .Get "width" | default "100%" -}}
{{- $align := .Get "align" | default "center" -}}

{{- if not $src -}}
  {{- errorf "image-caption: src parameter is required" -}}
{{- end -}}

<figure class="image-caption image-caption--{{ $align }}" style="--image-caption-width: {{ $width }}">
  {{- partial "paige/image.html" (dict
    "alt" $alt
    "class" "img-fluid rounded"
    "loading" "lazy"
    "page" .Page
    "process" "webp"
    "src" $src
    "width" "100%"
  ) -}}
  {{- with $caption -}}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{- end -}}
</figure>
