{{- $src := .Get "src" -}}
{{- $position := .Get "position" | default "left" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- with .Inner -}}{{- $caption = . -}}{{- end -}}
{{- $width := .Get "width" | default "40%" -}}

{{- if not $src -}}
  {{- errorf "image-float: src parameter is required" -}}
{{- else -}}
  {{- $resource := resources.Get (strings.TrimPrefix "/" $src) -}}
  {{- if $resource -}}
<figure class="image-float image-float--{{ $position }}" style="--image-float-width: {{ $width }}">
  {{- partial "paige/image.html" (dict
    "alt" $alt
    "class" "img-fluid rounded"
    "loading" "lazy"
    "page" .Page
    "process" "webp"
    "src" $src
    "width" "100%"
  ) -}}
  {{- with $caption -}}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{- end -}}
</figure>
  {{- else -}}
    {{- warnf "image-float: missing image %q in %s" $src .Page.File.Path -}}
    {{- partial "missing-image.html" (dict "src" $src) -}}
  {{- end -}}
{{- end -}}
