{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $height := .Get "height" | default "500px" -}}

{{- if not $src -}}
  {{- errorf "image-full: src parameter is required" -}}
{{- end -}}

<figure class="image-full" style="--image-full-height: {{ $height }}">
  {{- partial "paige/image.html" (dict
    "alt" $alt
    "class" "img-fluid"
    "loading" "lazy"
    "page" .Page
    "process" "webp"
    "src" $src
    "style" (printf "height: %s; object-fit: cover; width: 100%%" $height)
  ) -}}
  {{- with $caption -}}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{- end -}}
</figure>
